@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .h1 {
        @apply text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate pb-4;
    }
}

.museumslist {
    column-count:2;
}
.museumslist label {
    margin-left: 4px;
}
.add-museum-modal label, .spokeperson label {
    min-width:260px;
    display: inline-block;
}
.add-museum-modal input[type="text"], .add-museum-modal input[type="email"] {
    margin-top: 10px;
}

.error {
    color:red;
}
